@import "compass/css3";

* {
    box-sizing: border-box;
}

::selection {
    background-color: #5DCCC5;
}

.tabbed {
    width: 85%;
    margin: 50px auto;
}

.tabbed > input {
    display: none;
}

.tabbed > label {
    display: block;
    float: left;
    padding: 12px 20px;
    margin-right: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
    background: #5DCCC5;
    color: #fff;
}

.tabs {
    clear: both;
    perspective: 600px;
}


.tabs > div {
    width: 100%;
    position: absolute;
    border: 2px solid #5DCCC5;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    background-color: #f6f6f6;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}

.tabs > div h2 {
    padding-bottom: .5em;
}

.dropdown-download {
    color: #F7F7F7;
}

@media only screen and (max-width:425px) and (min-width:320px){
    .tabs {
        font-size: 50px;
    }
}